/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 222, 231);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.container {
  background-color: #ffffff;
  max-width: 90%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 10px 50px gray;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  font-style: italic;
  color: #9c395c;
}

a:hover {
  font-weight: 600;
}

ul li,
ol li {
  list-style-type: none;
  padding: 0 10% 0 10%;
  line-height: 30px;
}

/* HEADER */

.header {
  background-color: #9c395c;
  color: #fff;
  border-radius: 20px 20px 0 0;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  display: none;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__name {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.header__title {
  font-size: 1.2rem;
  font-weight: 400;
  color: #f0f0f0;
  margin-bottom: 10px;
}

.header__contacts {
  display: flex;
  gap: 20px;
  border-top: 1px solid #000;
  margin-top: 2em;
}

.header__contact-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.header__contact-link {
  font-size: 0.8rem;
  font-weight: 400;
  color: #f0f0f0;
  text-decoration: none;
}

.header__contact-link:hover {
  color: #fff;
}

/* SECTION */

.section {
  margin: 1.5em 0;
  padding: 1em 3em;
}

.section__header {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  position: relative;
}

.section__icon--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.section__title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #9c395c;
  text-decoration: underline #9c395c;
  margin: 1em auto;
  flex-wrap: wrap;
  max-width: 10em;
}

.section__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25em;
}

.section__content.skills {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8em;
}
/* .section__title.skills {
  margin-bottom: 1.2em;
} */

.section__content-item {
  margin-top: 30px;
}

.section__item {
  padding: 1.25em;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.section__content.skills .section__item {
  background-color: #9c395c;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 10px;
}

.section__item-circle {
  display: flex;
  background-color: #9c395c;
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  position: absolute;
  left: -10px;
  top: -10px;
  align-items: center;
  justify-content: center;
}

.section__item-header {
  height: 10em;
  border-bottom: 1px solid #e2dede;
}

.section__item-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.section__item-title.skills {
  font-size: 1rem;
  color: #fff;
  margin-top: 10px;
}

.section__item-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #9c395c;
  margin-bottom: 0.625em;
  padding-bottom: 1em;
}

.section__item-list {
  margin-top: 0.625em;
  /* list-style-type: disc; */
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #666;
  margin: auto;
}

.section__item-list.decorated li {
  border-bottom: solid 2px #9c395c;
  border-bottom-style: dotted;
  width: 50%;
  margin: auto;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#lastRow {
  border-bottom: none;
}

.section__item-list li {
  margin-bottom: 0.3em;
  line-height: 1.5rem;
  margin-top: 1em;
}

.section__content.center {
  margin: auto;
  width: 100%;
  display: block;
}

.footer__copyright {
  color: #333;
  font-style: italic;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

/* Media query  */

@media only screen and (min-width: 600px) {
  .section__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__container {
    flex-direction: column;
    align-items: center;
  }

  .header__avatar {
    margin-bottom: 10px;
    display: block;
  }

  .section__header span {
    position: absolute;
    left: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 70%;
  }
  .section__item-header {
    height: 9em;
  }

  .section__title {
    max-width: none;
  }
}
